@font-face {
  font-family: 'iconfont'; /* Project id 4628337 */
  src:
    url('//at.alicdn.com/t/c/font_4628337_594plpye98l.woff2?t=1737877547114') format('woff2'),
    url('//at.alicdn.com/t/c/font_4628337_594plpye98l.woff?t=1737877547114') format('woff'),
    url('//at.alicdn.com/t/c/font_4628337_594plpye98l.ttf?t=1737877547114') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: '\e63c';
}

.icon-lingjuanzhongxin:before {
  content: '\e63d';
}

.icon-fushimeizhuang:before {
  content: '\e63e';
}

.icon-chaojimanjian:before {
  content: '\e63f';
}

.icon-shangpinshangxin:before {
  content: '\e640';
}

.icon-wodexiaoxi:before {
  content: '\e641';
}

.icon-shangpinfenlei:before {
  content: '\e642';
}

.icon-wodekuaidi:before {
  content: '\e643';
}

.icon-kanbingmaiyao:before {
  content: '\e644';
}

.icon-lingquanzhongxin:before {
  content: '\e645';
}

.icon-wodetuihuo:before {
  content: '\e646';
}

.icon-xianzhihuanqian:before {
  content: '\e647';
}

.icon-xianjinqiandao:before {
  content: '\e648';
}

.icon-shoujishuma:before {
  content: '\e649';
}

.icon-wodepingjia:before {
  content: '\e64a';
}

.icon-shangpincuxiao:before {
  content: '\e64b';
}

.icon-xianshimiaosha:before {
  content: '\e64c';
}

.icon-fujinchaoshi:before {
  content: '\e64d';
}

.icon-wodeshenpi:before {
  content: '\e64e';
}

.icon-wodezuji:before {
  content: '\e64f';
}

.icon-wodedongtai:before {
  content: '\e650';
}

.icon-xinrenhaowu:before {
  content: '\e651';
}

.icon-wodeshoucang:before {
  content: '\e652';
}

.icon-enter-line:before {
  content: '\e733';
}

.icon-down-line-free:before {
  content: '\e734';
}

.icon-down-line:before {
  content: '\e735';
}

.icon-up-line-free:before {
  content: '\e736';
}

.icon-back-line-free:before {
  content: '\e737';
}

.icon-enter-line-free:before {
  content: '\e738';
}

.icon-up-line:before {
  content: '\e739';
}

.icon-back-line:before {
  content: '\e73a';
}

.icon-flow-line:before {
  content: '\e73b';
}

.icon-expand-line:before {
  content: '\e73c';
}

.icon-service-line:before {
  content: '\e73d';
}

.icon-reply-line:before {
  content: '\e73e';
}

.icon-heart-line:before {
  content: '\e73f';
}

.icon-notice-line:before {
  content: '\e740';
}

.icon-copy-line:before {
  content: '\e741';
}

.icon-scan-line:before {
  content: '\e742';
}

.icon-notice-manage-line:before {
  content: '\e743';
}

.icon-radar-line:before {
  content: '\e744';
}

.icon-point-fill:before {
  content: '\e745';
}

.icon-add-line:before {
  content: '\e746';
}

.icon-fail-line:before {
  content: '\e747';
}

.icon-refresh-line:before {
  content: '\e748';
}

.icon-info-line:before {
  content: '\e749';
}

.icon-ask-line:before {
  content: '\e74a';
}

.icon-ban-line:before {
  content: '\e74b';
}

.icon-success-line:before {
  content: '\e74c';
}

.icon-status-empty-line:before {
  content: '\e74d';
}

.icon-admin-line:before {
  content: '\e74e';
}

.icon-area-line:before {
  content: '\e74f';
}

.icon-advance-set-line:before {
  content: '\e750';
}

.icon-available-box-line:before {
  content: '\e751';
}

.icon-activity-line:before {
  content: '\e752';
}

.icon-box-noise-line:before {
  content: '\e753';
}

.icon-book-line:before {
  content: '\e754';
}

.icon-agreement-line:before {
  content: '\e755';
}

.icon-charge-line:before {
  content: '\e756';
}

.icon-clock-in-line:before {
  content: '\e757';
}

.icon-cloud-rain-line:before {
  content: '\e758';
}

.icon-announcement-line:before {
  content: '\e759';
}

.icon-clean-line:before {
  content: '\e75a';
}

.icon-at-sign-line:before {
  content: '\e75b';
}

.icon-community-line:before {
  content: '\e75c';
}

.icon-charge-line-1:before {
  content: '\e75d';
}

.icon-day-line:before {
  content: '\e75e';
}

.icon-deadline-line:before {
  content: '\e75f';
}

.icon-deployment-line:before {
  content: '\e760';
}

.icon-cloud-bolt-rain-line:before {
  content: '\e761';
}

.icon-halfway-open-line:before {
  content: '\e762';
}

.icon-cloud-line:before {
  content: '\e763';
}

.icon-code-line:before {
  content: '\e764';
}

.icon-date-use-line:before {
  content: '\e765';
}

.icon-drawing-line:before {
  content: '\e766';
}

.icon-idcard-line:before {
  content: '\e767';
}

.icon-cloud-sun-line:before {
  content: '\e768';
}

.icon-cloud-snow-line:before {
  content: '\e769';
}

.icon-control-line:before {
  content: '\e76a';
}

.icon-log-line:before {
  content: '\e76b';
}

.icon-dynamic-password-line:before {
  content: '\e76c';
}

.icon-home-line:before {
  content: '\e76d';
}

.icon-data-line:before {
  content: '\e76e';
}

.icon-date-line:before {
  content: '\e76f';
}

.icon-hardware-line:before {
  content: '\e770';
}

.icon-gift-line:before {
  content: '\e771';
}

.icon-elevator-line:before {
  content: '\e772';
}

.icon-login-line:before {
  content: '\e773';
}

.icon-hardware-line-free:before {
  content: '\e774';
}

.icon-contact-line:before {
  content: '\e775';
}

.icon-deployment-fill-free:before {
  content: '\e776';
}

.icon-logout-line:before {
  content: '\e777';
}

.icon-mall-line:before {
  content: '\e778';
}

.icon-credit-line:before {
  content: '\e779';
}

.icon-electricity-line:before {
  content: '\e77a';
}

.icon-ota-line:before {
  content: '\e77b';
}

.icon-device-set-line:before {
  content: '\e77c';
}

.icon-etc-line:before {
  content: '\e77d';
}

.icon-preference-line:before {
  content: '\e77e';
}

.icon-note-line:before {
  content: '\e77f';
}

.icon-log-style-line:before {
  content: '\e780';
}

.icon-map-line:before {
  content: '\e781';
}

.icon-order-line:before {
  content: '\e782';
}

.icon-search-line:before {
  content: '\e783';
}

.icon-rule-line:before {
  content: '\e784';
}

.icon-setting-line:before {
  content: '\e785';
}

.icon-phone-line:before {
  content: '\e786';
}

.icon-software-line:before {
  content: '\e787';
}

.icon-message-line:before {
  content: '\e788';
}

.icon-exchange-line:before {
  content: '\e789';
}

.icon-open-box-line:before {
  content: '\e78a';
}

.icon-gift-line-free:before {
  content: '\e78b';
}

.icon-sun-dust-line:before {
  content: '\e78c';
}

.icon-security-line:before {
  content: '\e78d';
}

.icon-team-line:before {
  content: '\e78e';
}

.icon-telephone-line:before {
  content: '\e78f';
}

.icon-task-line:before {
  content: '\e790';
}

.icon-short-message-line:before {
  content: '\e791';
}

.icon-question-line:before {
  content: '\e792';
}

.icon-power-line:before {
  content: '\e793';
}

.icon-readcard-line:before {
  content: '\e794';
}

.icon-qrcode-line:before {
  content: '\e795';
}

.icon-time-line:before {
  content: '\e796';
}

.icon-user-line:before {
  content: '\e797';
}

.icon-sun-haze-line:before {
  content: '\e798';
}

.icon-seat-line:before {
  content: '\e799';
}

.icon-transport-line:before {
  content: '\e79a';
}

.icon-position-line:before {
  content: '\e79b';
}

.icon-videorecord-line:before {
  content: '\e79c';
}

.icon-tool-line:before {
  content: '\e79d';
}

.icon-delete-line:before {
  content: '\e79e';
}

.icon-camera-line:before {
  content: '\e79f';
}

.icon-alternate-home-line:before {
  content: '\e7a0';
}
