:root {
  --color-primary: #7987fd;
  --color-primary-light-3: #9fa7ea;
  --color-primary-light-5: #f8faff;

  /** reset element plus theme */
  --el-color-primary: var(--color-primary) !important;
  --el-color-primary-light-3: var(--color-primary-light-3) !important;
  --el-color-primary-light-5: var(--color-primary-light-5) !important;
  --el-link-text-color: var(--color-primary) !important;
}
